
body{
    background: #fff;
}
.clearfix:after{
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.fl{float: left;}
.fr{float: right;}
.none{display: none;}
.auto{
  width: 1200px;
  margin:0 auto;
}
.pt50{
    padding-top: 50px;
}
.f30{
    font-size: 30px;
    font-weight: 100;
}
.f22{
    font-size: 22px;
}
.f26{
    font-size: 26px;
}
@base_w: 1200px;
@colorRed:#e60012;
.header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: rgba(255, 255, 255, .2);
      .logo{
        width: 130px;
        height: 50px;
        background: url(../img/01index/logo.png) no-repeat 0 0/contain;
        margin-top: 10px;
        margin-left:50px;
      }
      ul{
          margin-left: 70px;
        li{
          float: left;
          padding:0 30px;
          font-size:20px;
            a{
              display: block;
              width: 100%;
              height:100%;
              color: #000;
            }
        }
        li.on a{color: @colorRed;}
        li:hover a{
           color:@colorRed;
        }
      }
} 
.header:hover{
    background: #fff;
}
.footer{
  color: #fff;
  background: #2c2c2c;
  h4{
      height: 26px;
    font-size: 20px;
    font-weight: 100;
  }
  .col{
    width: 200px;
    li {
        margin-top:16px ;
        font-size: 16px;
        font-weight: 100;
      a{
        font-size: 16px;
        color: #fff;
      }
    }
  }
  .brand{
      width: 638px;
      height: 90px;
      margin-top: 16px;
  }
  .end{
      margin-top: 60px;
      color: #828282;
      font-size: 12px;
      padding-bottom: 15px;
  }
}
//.content{
//  .bread-index{
//  height:50px;
//  line-height:50px;
//  color: #fff;
//  font-size:18px;
//  background: #131313;
//  
//  .auto{
//      font-weight: 100;
//    width:@base_w;
//    padding-left: 150px;
//  }
//}
//}
//about us 公共部分
.pubpart{
  .in{
    height: 700px;
    background: url(../img/01index/pubbg.jpg) no-repeat;
    background-position:center 0;
    background-size: cover;
    .t{margin-top: 120px;
        width: 42%;
        .unit{
            font-size: 20px;
            margin-top: 30px;
            .p{color: #000;}
            .word{color: #999;margin-top: 5px;line-height: 1.6;}
        }
        .icon{
                margin-top: 35px;
                i{
                    margin-right: 60px;
                    display: inline-block;
                    background: url('../img/01index/icon.png') no-repeat;
                }
            .icon1{
                width: 35px;
                height: 30px;
                background-position: 0 -2px;
            }
            .icon2{
                width: 39px;
                height: 32px;
                background-position: -102px 0px;
            }
            .icon3{
                width: 33px;
                height: 23px;
                background-position: -207px -7px;
            }
        }
    }
  }  
}
