body {
  background: #fff;
}
.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.none {
  display: none;
}
.auto {
  width: 1200px;
  margin: 0 auto;
}
.pt50 {
  padding-top: 50px;
}
.f30 {
  font-size: 30px;
  font-weight: 100;
}
.f22 {
  font-size: 22px;
  font-weight: 100;
}
.f26 {
  font-size: 26px;
  font-weight: 100;
}
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: rgba(255, 255, 255, 0.2);
}
.header .logo {
  width: 130px;
  height: 50px;
  background: url(../img/01index/logo.png) no-repeat 0 0 / contain;
  margin-top: 10px;
  margin-left: 50px;
}
.header ul {
  margin-left: 70px;
}
.header ul li {
  float: left;
  padding: 0 30px;
  font-size: 20px;
}
.header ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
.header ul li.on a {
  color: #e60012;
}
.header ul li:hover a {
  color: #e60012;
}
.header:hover {
  background: #fff;
}
.footer {
  color: #fff;
  background: #2c2c2c;
}
.footer h4 {
  height: 26px;
  font-size: 20px;
  font-weight: 100;
}
.footer .col {
  width: 200px;
}
.footer .col li {
  margin-top: 16px ;
  font-size: 16px;
  font-weight: 100;
}
.footer .col li a {
  font-size: 16px;
  color: #fff;
}
.footer .brand {
  width: 638px;
  height: 90px;
  margin-top: 16px;
}
.footer .end {
  margin-top: 60px;
  color: #828282;
  font-size: 12px;
  padding-bottom: 15px;
}
.pubpart .in {
  height: 700px;
  background: url(../img/01index/pubbg.jpg) no-repeat;
  background-position: center 0;
  background-size: cover;
}
.pubpart .in .t {
  margin-top: 120px;
  width: 42%;
}
.pubpart .in .t .unit {
  font-size: 20px;
  margin-top: 30px;
}
.pubpart .in .t .unit .p {
  color: #000;
}
.pubpart .in .t .unit .word {
  color: #999;
  margin-top: 5px;
  line-height: 1.6;
}
.pubpart .in .t .icon {
  margin-top: 35px;
}
.pubpart .in .t .icon i {
  margin-right: 60px;
  display: inline-block;
  background: url('../img/01index/icon.png') no-repeat;
}
.pubpart .in .t .icon .icon1 {
  width: 35px;
  height: 30px;
  background-position: 0 -2px;
}
.pubpart .in .t .icon .icon2 {
  width: 39px;
  height: 32px;
  background-position: -102px 0px;
}
.pubpart .in .t .icon .icon3 {
  width: 33px;
  height: 23px;
  background-position: -207px -7px;
}
