.top-pic{
  background: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/HYouthWebsite/img/02case/top-pic.jpg") no-repeat center;
}
.case-tab{
  .panel1{
    padding-bottom: 40px;
  }
  .panel2{
    padding-bottom: 58px;
  }
  .swiper{
    position: relative;
    margin-bottom: 10px;
    .arrow{
      position: absolute;
      top:0;
      width: 150px;
      height:150px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .prev{
        cursor: pointer;
      left:0;
      background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/HYouthWebsite/img/02case/02equipment/prev.png");
    }
    .next{
        cursor: pointer;
      right:0;
      background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/HYouthWebsite/img/02case/02equipment/next.png");
    }
    .arrow:hover{
      background-color: #e60012;
    }
    .prev:hover{
      background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/HYouthWebsite/img/02case/02equipment/prev-on.png");
    }
    .next:hover{
      background-image: url("http://zimeitisucai.oss-cn-beijing.aliyuncs.com/resource/HYouthWebsite/img/02case/02equipment/next-on.png");
    }
    .swiper-container{
      width: 900px;
      height:150px;
      margin:0 auto;
      .swiper-slide{
        width: 150px;
        height:150px;
        img{
          width: 100%;
          height:100%;
          cursor: pointer;
        }
      }
    }
  }

}