@base_w: 1200px;
@colorRed:#e60012;
.banner{
  height:930px;
  .swiper-container{
    height:100%;
  }
  .swiper-slide{
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    a{
      display: block;
      width: 100%;
      height:100%;
    }
  }
  .slide1{
    background-image:url(../img/01index/banner1.jpg);
  }
  .slide2{
    background-image:url(../img/01index/banner2.jpg);
  }
  .slide3{
    background-image:url(../img/01index/banner3.jpg);
  }
  .pagination {
    position: absolute;
    z-index: 20;
    bottom: 75px;
    width: 100%;
    text-align: center;
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #818181;
    margin: 0 13px;
    cursor: pointer;
  }
  .swiper-active-switch {
    background: #000;
  }
}
.content{
    &>div{
        
    }
    text-align: center;
    .headline{
        height: 200px;
        line-height: 200px;
    }
    .part1{
        .two{
            margin-bottom: 180px;
            &>div{
                width: 49%;
                i{
                    display: inline-flex;
                    width: 78px;
                    height: 78px;
                }
                &>div{color: #999;margin-top: 15px;}
            }
            &>div:hover p{
                color: @colorRed;
            }
            .fl{
                i{
                    background: url(../img/01index/two1.png) no-repeat;
                }
            }
            .fr{
                i{
                    background: url(../img/01index/two2.png) no-repeat;
                }
            }
        }
        .product{
            width: 100%;
            height: 0;
            padding-bottom: 57.8%;
            position: relative;
            &>div{
                height: 100%;
                position: absolute;
                .dhover:hover .con{
                    background: rgba(230,0,18,0.9);
                }
                .dhover:hover .con .p{
                    display: block;
                }
            }
            .con{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: transparent;
                .p{
                    display: none;
                }
            }
            .pr1{
                width: 41.66%;
                &>div{
                    width: 98%;
                    height: 32.28%;
                    margin-bottom: 1.6%;
                }
                .left1{
                    &>div{
                        height: 100%;
                    }
                    .left1_l{
                        margin-right: 2%;
                        width: 37.5%;
                        background: url(../img/01index/p01.png) no-repeat;
                    background-size: 100% 100%;
                    }
                    .left1_r{
                        width: 60.5%;
                        background: url(../img/01index/p02.png) no-repeat;
                    background-size: 100% 100%;
                    }
                }
                .left2{
                    &>div{
                        height: 100%;
                    }
                    .left2_l{
                        margin-right: 2%;
                        width: 60.5%;
                        background: url(../img/01index/p03.png) no-repeat;
                    background-size: 100% 100%;
                    }
                    .left2_r{
                        width: 37.5%;
                        background: url(../img/01index/p04.png) no-repeat;
                    background-size: 100% 100%;
                    }
                }
                .left3{
                    background: url(../img/01index/p05.png) no-repeat;
                    background-size: 100% 100%;
                }
            }
            .pr2{
                width: 34.37%;
                left: 41.66%;
                &>div{
                    width: 97.5%;
                    margin-bottom: 1.8%;
                }
                .mid1{                    
                    height:32.5% ;
                    background: url(../img/01index/p06.png) no-repeat;
                    background-size: 100% 100%;
                }
                .mid2{
                    height: 65.5%;
                    background: url(../img/01index/p07.png) no-repeat;
                    background-size: 100% 100%;
                }
             }
            .pr3{
                width: 23.97%;
                right:0 ;
                &>div{
                    margin-bottom: 2.5%;
                }
                .right1{
                    height: 66%;
                    background: url(../img/01index/p08.png) no-repeat;
                    background-size: 100% 100%;
                }
                .right2{
                    height: 31.81%;
                    background: url(../img/01index/p09.png) no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    .part2{
        text-align: center;
        .iconswiper{
            position: relative;
            height: 450px;
             .swiper-container{
              width: 1040px;
            height: 100%;
          }
          .swiper-slide{
              width: 100%;
              height:100%;
          }
          .slide1{              background:url(../img/01index/swipericon1.png) no-repeat top center;
          }
          .slide2{              background:url(../img/01index/swipericon2.png) no-repeat top center;
          }
          .slide3{              background:url(../img/01index/swipericon3.png) no-repeat top center;
          }
          .arrow{
              position: absolute;
              top:100px;
              z-index: 10;
              width: 150px;
              height:150px;
              background-repeat: no-repeat;
              background-position: center center;
            }
            .prev{
              left:0;
              background-image: url("../img/01index/prev.png");
            }
            .next{
              right:0;
              background-image: url("../img/01index/next.png");
            }
            .prev:hover{
              background-image: url("../img/01index/prev-on.png");
            }
            .next:hover{
              background-image: url("../img/01index/next-on.png");
            }
        }
        .words{
            margin-bottom: 110px;
            line-height: 1.5;
        }
    }
    .part3{
        padding: 0 1% 0 2%;
        .news{
//          background: #ccc;
            width: 100%;
            height: 0;
            padding-bottom: 18.23%;
            margin-bottom: 1.5%;
            position: relative;
            &>div{
                position: absolute;
                height: 100%;
                a{display: block;width: 100%;height: 100%;}
                .con{
                    padding: 20px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    background: transparent;
                    .p{
                        width: 100%;
//                      height: 100%;
                        .data{
                            font-size: 70px;
                        }
                        .year{
                            font-size: 20px;
                        }
                        .det{
                            width: 100%;
                            margin-top: 10px;
                            font-size: 20px;
                            line-height: 1.5;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .desc{
                            color: #999;
                            font-size: 18px;
                            line-height: 1.5;
                            text-overflow: -o-ellipsis-lastline;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
            .dhover{height: 100%;}
            .dhover:hover .con{
                color: #fff;
                background: rgba(230,0,18,0.9);
            }
            .dhover:hover .con .p{
                display: block;
            }
            .dhover:hover .con .p .desc{
                color: #fff;
            }
            .left{
                width: 52.68%;
                left: 0;
                .left_l{
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .newsword,.newsCenter{
                        font-size: 3rem;
                        color: #000000;
                    }
                }
                .left_r{
                    width: 50%;
                }
            }
            .right{
                background: url(../img/01index/20160819.png) no-repeat;
                background-size: 100% 100%;
                width: 45.16%;
                right: 0;
            }
        }
        .news2{
            .mleft{
                right: 0;
                left: auto;
                
            }
            .mright{
              left: 0;
               background: url(../img/01index/20160530.png) no-repeat;
                background-size: 100% 100%;  
            }
        }
        .news3{
            .right{
                background: url(../img/01index/20150916.png) no-repeat;
                background-size: 100% 100%;
            }
        }
        .more{
            a{
                color: #000;
            }
            .icon{
               background: url(../img/01index/more.png) no-repeat 55% center; 
            }
        }
        .more:hover{
            background: @colorRed;
            a{
                color: #fff;
            }
        }
    }
    .part4{
        .in{
            text-align: center;
            height: 900px;
            background: url(../img/01index/introduce.png) no-repeat;
            background-position:center 0;
            background-size: cover;
            &>div.auto{
                padding-top: 100px;
            }
            .desc{
                margin-top: 80px;
                color: #999;
            }
            .more{
                display: flex;
                justify-content: center; 
                margin-top: 160px;   
                a{
                    background: #fff;
                    color: @colorRed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 620px;
                    height: 110px;
                    border-radius: 55px;
                    border: 1px solid #999;
                }
                .icon{
                    width: 100%;
                   background: url(../img/01index/more.png) no-repeat 60% center; 
                }
                
            }
            .more a:hover{
                    background: @colorRed;
                    color: #fff;
                    border-color: @colorRed;
            }
            
        }
    }
}