@base_w: 1200px;
@colorRed:#e60012;
.banner{
  height:930px;
  .swiper-container{
    height:100%;
  }
  .swiper-slide{
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
    a{
      display: block;
      width: 100%;
      height:100%;
    }
  }
  .slide1{
    background-image:url(../img/01index/banner1.jpg);
  }
  .slide2{
    background-image:url(../img/01index/banner2.jpg);
  }
  .slide3{
    background-image:url(../img/01index/banner3.jpg);
  }
  .pagination {
    position: absolute;
    z-index: 20;
    bottom: 75px;
    width: 100%;
    text-align: center;
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #818181;
    margin: 0 13px;
    cursor: pointer;
  }
  .swiper-active-switch {
    background: #000;
  }
}
.content{
    &>div{
        
    }
    text-align: center;
    .part1{
        .headline{
            height: 200px;
            line-height: 200px;
        }
        .two{
            margin-bottom: 180px;
            &>div{
                width: 49%;
                i{
                    display: inline-flex;
                    width: 78px;
                    height: 78px;
                }
                &>div{color: #999;margin-top: 15px;}
            }
            &>div:hover p{
                color: @colorRed;
            }
            .fl{
                i{
                    background: url(../img/01index/two1.png) no-repeat;
                }
            }
            .fr{
                i{
                    background: url(../img/01index/two2.png) no-repeat;
                }
            }
        }
        .product{
            background: #999;
            width: 100%;
            height: 0;
            padding-bottom: 57%;
            position: relative;
            &>div{
                height: 100%;
                position: absolute;
            }
            .p1{width: 40.62%;background: yellow;}
            .p2{width: 33.33%;margin: 0 1%;background: yellowgreen;}
            .p3{width: 23.75%;background: burlywood;}
        }
    }
}