.banner {
  height: 930px;
}
.banner .swiper-container {
  height: 100%;
}
.banner .swiper-slide {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
}
.banner .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner .slide1 {
  background-image: url(../img/01index/banner1.jpg);
}
.banner .slide2 {
  background-image: url(../img/01index/banner2.jpg);
}
.banner .slide3 {
  background-image: url(../img/01index/banner3.jpg);
}
.banner .pagination {
  position: absolute;
  z-index: 20;
  bottom: 75px;
  width: 100%;
  text-align: center;
}
.banner .swiper-pagination-switch {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #818181;
  margin: 0 13px;
  cursor: pointer;
}
.banner .swiper-active-switch {
  background: #000;
}
.content {
  text-align: center;
}
.content .part1 .headline {
  height: 200px;
  line-height: 200px;
}
.content .part1 .two {
  margin-bottom: 180px;
}
.content .part1 .two > div {
  width: 49%;
}
.content .part1 .two > div i {
  display: inline-flex;
  width: 78px;
  height: 78px;
}
.content .part1 .two > div > div {
  color: #999;
  margin-top: 15px;
}
.content .part1 .two > div:hover p {
  color: #e60012;
}
.content .part1 .two .fl i {
  background: url(../img/01index/two1.png) no-repeat;
}
.content .part1 .two .fr i {
  background: url(../img/01index/two2.png) no-repeat;
}
.content .part1 .product {
  background: #999;
  width: 100%;
  height: 0;
  padding-bottom: 57%;
  position: relative;
}
.content .part1 .product > div {
  height: 100%;
  position: absolute;
}
.content .part1 .product .p1 {
  width: 40.62%;
  background: yellow;
}
.content .part1 .product .p2 {
  width: 33.33%;
  margin: 0 1%;
  background: yellowgreen;
}
.content .part1 .product .p3 {
  width: 23.75%;
  background: burlywood;
}
